#options are console or file , can be both by comma seperated : console,file
output_channel=console,file
#file name , if output source is chosen as a file
file_name=eyallll
#log file path ,define where the log should be written
file_path=/Users/eyal/Projects/logger/logs
#opening greeting to start logging with a smile
greeting=handsome
#define the logging level debug/info/warning/
logLevel=debug
